%h1
  New Post
  %small
    in topic
    = link_to "#{@topic.name}", @topic
    by
    = link_to @topic.user.forum_display_name, @topic
- if params[:reply_to_id]
  - replying_to = MongoidForums::Post.find(params[:reply_to_id])
  In reply to:
  %blockquote
    = replying_to.text.html_safe
    %small
      = replying_to.user.forum_display_name

= form_for ([@topic, @post]) do |f|
  = f.label "Your Post"
  %br
  = render :partial => "form", :locals => { :f => f }
  %br
  = f.submit "Create Reply", :class => "btn pull-right", :disable_with => "Creating..."
