%h2 Your subscriptions
= paginate @topics, :theme => "tb3"

.table-responsive
  %table.table.table-striped
    %tr
      %th.col-sm-7.byline
        Name
      %th.col-sm-2
        Last post
      %th.col-sm-1
        Posts
      %th.col-sm-1
        Views
      %th


    - @topics.each do |sub|
      - topic = sub.subscribable
      %tr
        %td
          = link_to topic.name, topic
          - if topic.pinned
            = icon('bookmark')
          - if topic.locked
            = icon('times-circle')
          - if topic.hidden
            = icon('eye-slash')
          %br
          %small
            by
            = link_to topic.user.forum_display_name, main_app.player_path(topic.user.forum_display_name)
            = time_ago_in_words( topic.created_at )
            ago
        %td
          = link_to topic.posts.last.user.forum_display_name, main_app.player_path(topic.posts.last.user.forum_display_name)
          = time_ago_in_words( topic.posts.last.created_at )
          ago
        %td
          = topic.posts.count
        %td
          = topic.views_count ? topic.views_count : "None"

        %td
          = link_to "X", unsubscribe_topic_path(sub.subscribable), :class => "btn btn-small btn-warning"
